{{#if session.isAuthenticated}}
  <button {{action "signOut"}}>Sign out</button>

{{else}}
  {{session.currentUser.displayName}}

  <button {{action "signIn" "google"}}>Sign in with Google</button>
{{/if}}
{{yield}}